In [59]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
df = pd.read_csv("data/Products.csv", lineterminator="\n")
# print(df["product_name"])

# Create a copy to work on.
df_copy = df.copy()

# Strip the pound sign, remove commas from price column and convert it into a float type.
df_copy['price'] = df_copy['price'] \
    .apply(lambda x: x.replace('£', '').replace(',','')) \
    .astype('float64')

# Change the type of the 'category' column to be of type 'category'.
df_copy['category'] = df_copy['category'].astype('category')

# Convert all the types of the columns to be best possible types.
df_copy = df_copy.convert_dtypes(convert_integer=False, convert_floating=False)

df_copy.head()


# contain_values = df_copy[df_copy['price'].str.contains(',')]

,Unnamed: 0,id,product_name,category,product_description,price,location
0,0,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",5.0,"Wokingham, Berkshire"
1,1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richard’s (model no 48755)Stainless ste...,20.0,"Inverness, Highland"
2,2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I don’t...,20.0,"Skegness, Lincolnshire"
3,3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,115.0,"Radstock, Somerset"
4,4,16dbc860-696e-4cda-93f6-4dd4926573fb,Modern Shannon Sofa for sale at low cost | in ...,"Home & Garden / Dining, Living Room Furniture ...",New Design Shannon Corner sofa 5 Seater Avail...,450.0,"Delph, Manchester"

Unnamed: 0               Int64
id                      string
product_name            string
category                string
product_description     string
price                  Float64
location                string
dtype: object